
:root {
    --primary-color: #009A44;  /* Green */
    --secondary-color: #003366;  /* Dark Blue */
    --background-color: #F5F5F5; /* Light Grey */
    --text-color: #333;  /* Dark Text */
}

/* General Styling */
body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    color: var(--text-color);
}

/* Header & Footer */
header, footer {
    background-color: var(--secondary-color);
    color: white;
    text-align: center;
    padding: 1rem;
}

h1 {
    background-color: var(--primary-color);
    text-align: center;
    border: var(--primary-color);
    padding: 3rem;
}

/* Hero Section */
.hero {
    position: relative;
    text-align: center;
}

.hero picture img {
    width: 100%;
    max-height: fit-content;
    height: auto;
    display: block;
}

/* Data and Weather Sections */
.data, .weather {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
    width: 300px;
    position: absolute;
}

.data {
    left: 5%;
    top: 20%;
}

.weather {
    right: 5%;
    bottom: 20px;
}

.data h2, .weather h2 {
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 1rem;
    font-size: 0.9rem;
}

/* Mobile Specific Layout (For screens <= 767px) */
@media (max-width: 767px) {
    /* Hero Section */
    .hero picture img {
        width: 100%;
        height: auto;
    }

    .data, .weather {
        width: 90%;
        margin: 10px auto;
        position: relative;
        padding: 10px;
        border: none; 
        box-shadow: none;
        background-color: rgba(255, 255, 255, 0.7);
        border-radius: 0; 
    }

    .data ul, .weather p {
        text-align: center;
    }

    .data li, .weather li {
        font-size: 1rem;
        margin-bottom: 10px;
        text-align: center;
    }

    /* Weather Icon */
    .weather-icon svg {
        width: 50px;
        height: 50px;
        margin-bottom: 10px;
    }

    .weather {
        margin-top: 20px;
    }

    footer {
        font-size: 0.9rem;
    }

    main {
        padding: 10px;
    }
}

